# Importações

In [1]:
import urllib
from itertools import product
from os import getenv
from sqlalchemy import create_engine
from dotenv import load_dotenv

import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import plotly.graph_objects as go
import plotly.express as px
from fuzzywuzzy import process

# Connection

connection.py

In [2]:
# cSpell: disable=invalid-name
load_dotenv()


class Connection:
    """
    Class Connection
    """

    def __init__(self):
        """
        Constructor

        Args:
            user (str): user
            password (str): password
            database (str): database
            driver (str): driver
            server (str): server

        Usage:
            >>> from connection import Connection
            >>> connection = Connection()
            >>> connection.get_connection()
        """
        self.__user = getenv("PYMSSQL_USER")
        self.__password = getenv("PYMSSQL_PASSWORD")
        self.__database = getenv("PYMSSQL_DATABASE_AUTOMACAO")
        self.__driver = "{ODBC Driver 17 for SQL Server}"
        self.__server = getenv("PYMSSQL_SERVER")

    def get_connection_automacao(self):
        """
        Get connection

        Returns:
            object: connection

        Usage:
            >>> from connection import Connection
            >>> connection = Connection()
            >>> connection.get_connection()
        """
        try:
            params = urllib.parse.quote_plus(
                f"DRIVER={self.__driver};"
                f"SERVER={self.__server};"
                f"DATABASE={self.__database};"
                f"UID={self.__user};"
                f"PWD={self.__password};"
            )
            # pylint: disable=consider-using-f-string
            conexao_automacao = create_engine(
                "mssql+pyodbc:///?odbc_connect=%s" % params
            )
            return conexao_automacao
        # pylint: disable=broad-except
        except Exception as error:
            print(f"Error: {error}")
            return None

db_read.py

In [3]:
# cSpell: disable=invalid-name
class Read(Connection):
    """
    Class Read
    Read data from the database and return a pandas dataframe
    Create query to be executed in the database
    """

    # pylint: disable=useless-super-delegation
    def __init__(self):
        """
        Constructor
        """
        super().__init__()

    def get_automacao_data(self, query: str) -> pd.DataFrame:
        """
        Get data from database AUTOMACAO and return a pandas dataframe.

        Parameters
        ----------
        query : str
            Query to be executed in the database

        Returns
        -------
        pandas dataframe
            Dataframe with the query result
        """
        try:
            connection = self.get_connection_automacao()
            data = pd.read_sql(query, connection)
            return data
        # pylint: disable=broad-except
        except Exception as error:
            print(f"Error: {error}")
            return None

    def create_automacao_query(
        self, table: str, where: str = None, orderby: str = None
    ) -> str:
        """
        Create query to be executed in the database AUTOMACAO.

        Parameters
        ----------
        table : str
            Table name
        where : str
            Where clause (optional)
        orderby : str
            Order by clause (optional)

        Returns
        -------
        str
            Query to be executed in the database
        """
        query = f"SELECT * FROM AUTOMACAO.dbo.{table}"

        if where:
            query += f" WHERE {where}"

        if orderby:
            query += f" ORDER BY {orderby}"

        return query

## Criando a query e recebendo dados do Banco de Dados

In [4]:
# cSpell: disable=invalid-name
# Dia de hoje para uso no gráfico
now = pd.to_datetime("today")
today = now.strftime("%Y-%m-%d")

# Encontrando primeiro e último dia do mês anterior
first_day_this_month = now.replace(day=1)  # primeiro dia do mês atual
last_day_month = first_day_this_month - timedelta(
    days=1
)  # último dia do mês anterior
first_day_month = last_day_month.replace(day=1)  # primeiro dia do mês anterior

# mantendo o formato de data e removendo o horário
last_day_month = last_day_month.strftime("%Y-%m-%d")
first_day_month = first_day_month.strftime("%Y-%m-%d")
first_day_this_month = first_day_this_month.strftime("%Y-%m-%d")

print(f"Primeiro dia do mês anterior: {first_day_month}")
print(f"Último dia do mês anterior: {last_day_month}")
print(f"Primeiro dia do mês atual: {first_day_this_month}")

# Instancia a classe Read
DB_read = Read()

# Query para obter os dados do mês anterior
query_occ = DB_read.create_automacao_query(
    table="maquina_ocorrencia",
    where=f"data_registro >= '{first_day_this_month}'",
)

query_info = DB_read.create_automacao_query(
    table="maquina_info", where=f"data_registro >= '{first_day_this_month}'"
)

query_maq_cadastro = DB_read.create_automacao_query(
    table="maquina_cadastro",
    orderby="linha, data_registro DESC, hora_registro DESC",
)

# Leitura do Banco de Dados
df_occ = DB_read.get_automacao_data(query_occ)
df_info = DB_read.get_automacao_data(query_info)
df_maq_cadastro = DB_read.get_automacao_data(query_maq_cadastro)

# df_occ.to_html("teste.html")

Primeiro dia do mês anterior: 2023-12-01
Último dia do mês anterior: 2023-12-31
Primeiro dia do mês atual: 2024-01-01

Testes de Saída do Banco de Dados

In [5]:
df_occ

,recno,maquina_id,motivo_id,problema,solucao,data_registro,hora_registro,usuario_id
0,2638,TMF006,12,,,2024-01-02,01:16:52,000453
1,2639,TMF013,08,,,2024-01-02,01:17:04,000453
2,2640,TMF010,08,,,2024-01-02,01:17:20,000453
3,2641,TMF010,12,,,2024-01-02,01:18:45,000453
4,2642,TMF006,12,,,2024-01-03,08:14:58,000807
...,...,...,...,...,...,...,...,...
259,2897,TMF010,12,,,2024-01-10,13:26:08,000807
260,2898,TMF001,01,,,2024-01-10,14:48:27,000838
261,2899,TMF009,01,,,2024-01-10,14:48:42,000838
262,2900,TMF001,08,Mangueira do vácuo estourou,,2024-01-10,16:45:40,000939
263,2901,TMF015,01,,,2024-01-10,16:46:10,000939

In [6]:
df_info

,recno,maquina_id,status,ciclo_1_min,ciclo_15_min,contagem_total_ciclos,contagem_total_produzido,turno,data_registro,hora_registro,tempo_parada,tempo_rodando
0,667577,TMF005,false,0.0,0.0,0.0,0.0,VES,2024-01-01,00:00:14.246666,0.0,0.0
1,667578,TMF002,false,0.0,0.0,0.0,0.0,VES,2024-01-01,00:00:15.253333,0.0,0.0
2,667579,TMF015,false,0.0,0.0,0.0,0.0,VES,2024-01-01,00:00:16.253333,0.0,0.0
3,667580,TMF011,false,0.0,0.0,0.0,0.0,VES,2024-01-01,00:00:17.253333,0.0,0.0
4,667581,TMF014,false,0.0,0.0,0.0,0.0,VES,2024-01-01,00:00:18.253333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
97948,765525,TMF014,true,11.0,150.0,1498.0,1478.0,VES,2024-01-10,17:13:00.230000,0.0,0.0
97949,765526,TMF004,true,9.0,150.0,1460.0,1376.0,VES,2024-01-10,17:13:01.230000,0.0,0.0
97950,765527,TMF009,true,11.0,150.0,1524.0,1506.0,VES,2024-01-10,17:13:02.233333,0.0,0.0
97951,765528,TMF001,true,11.0,37.0,926.0,922.0,VES,2024-01-10,17:13:03.233333,0.0,0.0
97952,765529,TMF008,true,12.0,178.0,1654.0,1614.0,VES,2024-01-10,17:13:04.236666,0.0,0.0

In [7]:
df_maq_cadastro

    recno maquina_id fabrica  linha data_registro hora_registro usuario_id
0      51     TMF003              0    2023-11-11      12:41:46     000264
1      48     TMF005              0    2023-11-11      12:37:43     000264
2      47     TMF014              0    2023-10-29      11:44:53     000264
3      43     TMF005              0    2023-10-22      12:32:23     000264
4      42     TMF014              0    2023-10-14      14:58:15     000264
5      39     TMF005       0      0    2023-10-06      15:53:45     000264
6      38     TMF003              0    2023-10-02      08:17:14     002131
7      37     TMF003              0    2023-09-30      16:35:54     000264
8      36     TMF003              0    2023-09-30      16:35:37     000264
9      35     TMF003              0    2023-09-30      16:34:26     000264
10     52     TMF005       1      1    2023-11-11      12:43:59     000264
11     45     TMF005       1      1    2023-10-29      11:43:59     000264
12     16     TMF008       1      1    2023-09-23      10:45:25     001996
13     34     TMF002       1      2    2023-09-30      16:33:59     000264
14     33     TMF003       1      2    2023-09-30      16:31:21     000264
15     17     TMF003       1      2    2023-09-23      15:24:20     001996
16     18     TMF015       1      3    2023-09-23      15:44:16     001996
17     19     TMF011       1      4    2023-09-23      15:46:43     001996
18     53     TMF014       1      5    2023-11-11      12:44:14     000264
19     50     TMF005       1      5    2023-11-11      12:39:48     000264
20     49     TMF005              5    2023-11-11      12:39:34     000264
21     40     TMF003       1      5    2023-10-06      15:54:22     000264
22     20     TMF005       1      5    2023-09-23      15:47:19     001996
23     30     TMF004       1      6    2023-09-25      11:52:29     001996
24     21     TMF004       1      6    2023-09-23      15:49:03     001996
25     22     TMF009       1      7    2023-09-25      10:45:10     002131
26     23     TMF001       1      8    2023-09-25      10:45:38     002131
27     46     TMF008       1      9    2023-10-29      11:44:32     000264
28     44     TMF014       1      9    2023-10-22      12:33:05     000264
29     41     TMF005       1      9    2023-10-14      14:57:44     000264
30     31     TMF014       1      9    2023-09-25      12:32:50     002131
31     25     TMF006       2     10    2023-09-25      10:47:09     002131
32     32     TMF013       2     11    2023-09-25      12:35:43     002131
33     27     TMF012       2     12    2023-09-25      10:48:20     002131
34     28     TMF007       2     13    2023-09-25      10:48:43     002131
35     26     TMF013       2     13    2023-09-25      10:47:54     002131
36     29     TMF010       2     14    2023-09-25      10:49:25     002131
37     24     TMF014       1     14    2023-09-25      10:46:28     002131

# Service

clean_data.py

In [8]:
class CleanData:
    """
    Classe para limpeza dos dados

    Atributos:
        df (pd.DataFrame): Dataframe com os dados a serem limpos

    Métodos:
        clean_maq_cadastro: Limpa os dados de cadastro das máquinas

    """

    def __init__(self):
        pass

    def clean_maq_cadastro(self, cadastro: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados de cadastro das máquinas

        Args:
        -----
            data (pd.DataFrame): Dataframe com os dados a serem limpos

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados limpos

        Exemplo:
        --------

            >>> from app.service.clean_data import CleanData
            >>> import pandas as pd
            >>> df = pd.DataFrame({'maquina_id': [TMF001, TMF002, TMF003], 'linha': [1, 2, 3],
            'fabrica': [1, 2, 2], 'data_registro': ['2021-01-01', '2021-01-01', '2021-01-01'],
            'hora_registro': ['00:00:00.000', '00:00:00.000', '00:00:00.000'], 'recno': [1, 2, 3],
            usuario_id: [00532, 00533, 00534]})
            >>> clean_data = CleanData()
            >>> df_clean = clean_data.clean_maq_cadastro(df)
            >>> df_clean
                maquina_id  linha  fabrica data_hora_registro       usuario_id
            0     TMF001      1        1    2021-01-01 00:00:00      532
            1     TMF002      2        2    2021-01-01 00:00:00      533
            2     TMF003      3        2    2021-01-01 00:00:00      534


        """

        # Remover rows onde a linha é 0
        df_cadastro = cadastro[cadastro["linha"] != 0]

        # Remover linhas duplicadas (erros de cadastro)
        df_cadastro = df_cadastro.drop_duplicates(
            subset=["data_registro", "linha"], keep="first"
        )

        # Criar nova coluna combinando data e hora
        df_cadastro["data_hora_registro"] = (
            df_cadastro["data_registro"].astype(str)
            + " "
            + df_cadastro["hora_registro"].astype(str).str.split(".").str[0]
        )

        # Converter coluna data_hora_registro para datetime
        df_cadastro["data_hora_registro"] = pd.to_datetime(
            df_cadastro["data_hora_registro"], format="%Y-%m-%d %H:%M:%S"
        )

        # Remover colunas desnecessárias
        df_cadastro = df_cadastro.drop(
            columns=["recno", "data_registro", "hora_registro"]
        )

        # Ordenar dataframe para facilitar trabalho futuro
        df_cadastro = df_cadastro.sort_values(
            by=["maquina_id", "data_hora_registro"], ascending=[True, False]
        )

        # reiniciar o index
        df_cadastro = df_cadastro.reset_index(drop=True)

        return df_cadastro

    def maq_info(self, info: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados de cadastro das máquinas

        Args:
        -----
            data (pd.DataFrame): Dataframe com os dados a serem limpos

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados limpos

        Exemplo:
        --------

            >>> from app.service.clean_data import CleanData
            >>> import pandas as pd
            >>> df = pd.DataFrame({'maquina_id': [TMF001, TMF002, TMF003], 'status'[False, True, True], 'turno'[MAT, VES, NOT], 'data_registro': ['2021-01-01', '2021-01-01', '2021-01-01'],
            'hora_registro': ['00:00:00.000', '00:00:00.000', '00:00:00.000'], 'recno': [1, 2, 3],
            })
            >>> clean_data = CleanData()
            >>> df_clean = clean_data.clean_maq_info(df)
            >>> df_clean
                maquina_id  status  turno   data_hora_registro      data_hora_final         tempo_registro_min
            0     TMF001    parada    MAT   2021-01-01 00:00:00     2021-01-01 00:01:00     480
            1     TMF002    rodando   VES   2021-01-01 00:00:00     2021-01-01 00:01:00     10
            2     TMF003    rodando   NOT   2021-01-01 00:00:00     2021-01-01 00:01:00     10

        """
        # Ordenar por maquina_id e data_registro, hora_registro

        df_info = info.sort_values(
            by=["maquina_id", "data_registro", "hora_registro", "turno"],
        )

        # Criar nova coluna combinando data e hora
        df_info["data_hora_registro"] = (
            df_info["data_registro"].astype(str)
            + " "
            + df_info["hora_registro"].astype(str).str.split(".").str[0]
        )

        # Descartar colunas desnecessárias
        df_info = df_info.drop(
            columns=["recno", "data_registro", "hora_registro"]
        )

        # Se for a primeira linha de cada máquina e o turno for VES, alterar para NOT
        df_info.loc[
            (df_info["turno"] == "VES")
            & (df_info["maquina_id"] != df_info["maquina_id"].shift()),
            "turno",
        ] = "NOT"

        # Criar nova coluna status_change para identificar mudança de status
        df_info["status_change"] = df_info["status"].ne(
            df_info["status"].shift()
        )

        # Criar coluna para identificar a mudança de máquina
        df_info["maquina_change"] = df_info["maquina_id"].ne(
            df_info["maquina_id"].shift()
        )

        # criar coluna para consolidar mudança de status e de máquina
        df_info["change"] = (
            df_info["status_change"] | df_info["maquina_change"]
        )

        # Criar coluna para identificar a mudança de turno
        df_info["turno_change"] = df_info["turno"].ne(df_info["turno"].shift())

        # Atualizar coluna change para incluir mudança de turno
        df_info["change"] = df_info["change"] | df_info["turno_change"]

        # Agrupar por maquina e identificar data e hora da última mudança de status
        df_info["change_time"] = (
            df_info.groupby("maquina_id")["data_hora_registro"]
            .shift(0)
            .where(df_info["change"])
        )

        # Remover as linhas onde change_time é nulo
        df_info.dropna(subset=["change_time"], inplace=True)

        # Criar nova coluna com a data_hora_final do status
        df_info["data_hora_final"] = (
            df_info.groupby("maquina_id")["data_hora_registro"]
            .shift(-1)
            .where(~df_info["maquina_change"])
        )

        # Atualizar coluna data_hora_final onde maquina_change é True
        df_info.loc[df_info["maquina_change"], "data_hora_final"] = df_info[
            "change_time"
        ].shift(-1)

        # Remover colunas desnecessárias
        df_info.drop(
            columns=[
                "status_change",
                "maquina_change",
                "turno_change",
                "change",
                "change_time",
            ],
            inplace=True,
        )

        # Remover linhas onde data_hora_final é nulo
        df_info.dropna(subset=["data_hora_final"], inplace=True)

        # Cria nova coluna tempo_registro_min para calcular o tempo de registro em minutos
        df_info["tempo_registro_min"] = (
            pd.to_datetime(df_info["data_hora_final"])
            - pd.to_datetime(df_info["data_hora_registro"])
        ).dt.total_seconds() / 60

        # Arredondar tempo_registro_min e converter para inteiro
        df_info["tempo_registro_min"] = (
            df_info["tempo_registro_min"].round(0).astype(int)
        )

        # Incluir um status in_test para os casos onde o status true permanece por menos de 10 minutos
        df_info = df_info.astype(
            {"status": str}
        )  # para evitar erros de comparação
        df_info.loc[
            (df_info["status"] == "true")
            & (df_info["tempo_registro_min"] < 10),
            "status",
        ] = "in_test"

        # Ajustar nomenclatura dos status
        df_info.loc[df_info["status"] == "true", "status"] = "rodando"
        df_info.loc[df_info["status"] == "false", "status"] = "parada"

        # Remover colunas desnecessárias
        df_info.drop(
            columns=[
                "ciclo_1_min",
                "ciclo_15_min",
                "contagem_total_ciclos",
                "contagem_total_produzido",
                "tempo_parada",
                "tempo_rodando",
            ],
            inplace=True,
        )

        # Ajustar o index
        df_info.reset_index(drop=True, inplace=True)

        return df_info

    def get_stops_data(self, info: pd.DataFrame) -> pd.DataFrame:
        """
        Retorna um dataframe com os dados de paradas consolidados

        Args:
        -----
            df (pd.DataFrame): Dataframe com os dados de paradas

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados de paradas consolidados

        Exemplo:
        --------

            >>> from app.service.get_stops_data import GetStopsData
            >>> import pandas as pd
            >>> get_stops_data = GetStopsData()
            >>> df_stops = get_stops_data.get_stops_data(df)

        """

        # Copiar o dataframe
        df = info.copy()

        # Transformar data e hora em datetime
        df["data_hora_registro"] = pd.to_datetime(df["data_hora_registro"])
        df["data_hora_final"] = pd.to_datetime(df["data_hora_final"])

        # Ordenar por maquina_id, turno, data_hora_registro
        df.sort_values(
            by=["maquina_id", "turno", "data_hora_registro"], inplace=True
        )

        # Criar coluna data_hora_registro_turno para identificar onde está rodando
        df["rodando"] = df["status"] == "rodando"

        # Cria uma coluna grupo para identificar os grupos de paradas
        df["grupo"] = (
            (df["rodando"] != df["rodando"].shift())
            | (df["maquina_id"] != df["maquina_id"].shift())
            | (df["turno"] != df["turno"].shift())
            | (
                df["data_hora_registro"].dt.date
                != df["data_hora_registro"].shift().dt.date
            )
        )

        # Soma o tempo de parada por grupo
        df["grupo"] = df["grupo"].cumsum()

        # Agregar os dados por grupo
        df = (
            df.groupby("grupo")
            .agg(
                {
                    "maquina_id": "first",
                    "turno": "first",
                    "status": "first",
                    "tempo_registro_min": "sum",
                    "data_hora_registro": "first",
                    "data_hora_final": "last",
                }
            )
            .reset_index(drop=True)
        )

        # Ordenar por maquina_id, data_hora_registro
        df.sort_values(by=["maquina_id", "data_hora_registro"], inplace=True)

        # Substituir status in_test por parada
        df.loc[df["status"] == "in_test", "status"] = "parada"

        # Substituir valores nulos por np.nan
        df.fillna(np.nan, inplace=True)

        # Reiniciar o index
        df.reset_index(drop=True, inplace=True)

        return df

    def dayofweek_adjust(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Ajusta o dia da semana para incluir paradas programadas

        Args:
        -----
            df (pd.DataFrame): Dataframe com os dados de paradas

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados de paradas ajustados

        Exemplo:
        --------

            >>> from app.service.get_stops_data import GetStopsData
            >>> import pandas as pd
            >>> get_stops_data = GetStopsData()
            >>> df_stops = get_stops_data.dayofweek_adjust(df)

        """

        # Garantir que a coluna data_hora_registro é datetime
        df["data_hora_registro"] = pd.to_datetime(df["data_hora_registro"])

        # Identificar os domingos
        df["domingo"] = df["data_hora_registro"].dt.dayofweek == 6

        # Listar feriados
        feriados = pd.read_csv("../database/feriados.csv")

        # Converter a coluna data para datetime
        feriados["feriados"] = pd.to_datetime(feriados["feriados"])

        # Identificar os feriados
        df["feriado"] = df["data_hora_registro"].dt.date.isin(
            feriados["feriados"].dt.date
        )

        # Identificar os dias após os feriados
        feriados["dia_apos_feriado"] = feriados["feriados"] + pd.Timedelta(
            days=1
        )
        df["dia_apos_feriado"] = df["data_hora_registro"].dt.date.isin(
            feriados["dia_apos_feriado"].dt.date
        )

        # Identificar sábados
        df["sabado"] = df["data_hora_registro"].dt.dayofweek == 5

        # Criar nova coluna unindo domingo, feriado e dia após feriado e descartar
        # as colunas domingo, feriado e dia após feriado
        df["domingo_feriado_emenda"] = (
            df["domingo"]
            | df["feriado"]
            | df["dia_apos_feriado"]
            | df["sabado"]
        )
        df.drop(
            columns=["domingo", "feriado", "dia_apos_feriado"], inplace=True
        )

        return df

    def clean_maq_info(self, info: pd.DataFrame) -> pd.DataFrame:
        """Agrupa funções de limpeza dos dados de info das máquinas para parada

        Args:
            info (pd.DataFrame): Info das máquinas do Banco de Dados

        Returns:
            pd.DataFrame: Dataframe com os dados limpos
        """

        df_info = info.copy()

        df_clean = self.maq_info(df_info)
        df_clean = self.get_stops_data(df_clean)
        df_clean = self.dayofweek_adjust(df_clean)

        return df_clean

    def clean_maq_occ(self, occ: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados de cadastro das máquinas

        Args:
        -----
            data (pd.DataFrame): Dataframe com os dados a serem limpos

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados limpos

        Exemplo:


        """

        # Motivos de Parada
        motivos = {
            1: "Ajustes",
            2: "Troca de Bobina",
            3: "Refeição",
            4: "Reunião",
            5: "Café e Ginástica Laboral",
            6: "Limpeza",
            7: "Manutenção Elétrica",
            8: "Manutenção Mecânica",
            9: "Material em Falta",
            10: "Setup de Sabor",
            11: "Setup de Tamanho",
            12: "Parada Programada",
            13: "Intervenção de Qualidade",
            14: "Linha Cheia",
            15: "Treinamento",
            16: "Limpeza Industrial",
        }

        # Modificar coluna motivo_id para int
        df_occ = occ.astype({"motivo_id": int})

        # Unir as colunas de data e hora
        df_occ["data_hora_registro"] = (
            df_occ["data_registro"].astype(str)
            + " "
            + df_occ["hora_registro"].astype(str).str.split(".").str[0]
        )

        # Criar coluna motivo_nome com base no dicionário motivos
        df_occ["motivo_nome"] = df_occ["motivo_id"].map(motivos)

        # Ajustar problema e solucao se a string estiver vazia
        df_occ["problema"] = df_occ["problema"].replace("", np.nan)
        df_occ["solucao"] = df_occ["solucao"].replace("", np.nan)

        # Se o problema for nulo, copiar o motivo_nome para o problema, exceto para os motivos 1, 7, 8, 9, 14,
        df_occ.loc[
            df_occ["problema"].isnull()
            & ~df_occ["motivo_id"].isin([1, 7, 8, 9, 14]),
            "problema",
        ] = df_occ["motivo_nome"]

        # Definir ordem das colunas
        df_occ = df_occ[
            [
                "maquina_id",
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "data_hora_registro",
                "usuario_id",
            ]
        ]

        return df_occ

    def clean_maq_info_prod(self, info: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados de info das máquinas para produção
        """

        # Ordenar por maquina_id asc, turno asc, data_registro desc, hora_registro desc
        df_info = info.sort_values(
            by=["maquina_id", "turno", "data_registro", "hora_registro"],
            ascending=[True, True, False, False],
        )

        # Agrupar por maquina_id e turno e manter o ultimo registro de cada grupo
        df_info = (
            df_info.groupby(["maquina_id", "turno", "data_registro"])
            .first()
            .reset_index()
        )

        # Criar nova coluna combinando data e hora
        df_info["data_hora_registro"] = (
            df_info["data_registro"].astype(str)
            + " "
            + df_info["hora_registro"].astype(str).str.split(".").str[0]
        )

        # Converter coluna data_hora_registro para datetime
        df_info["data_hora_registro"] = pd.to_datetime(
            df_info["data_hora_registro"], format="%Y-%m-%d %H:%M:%S"
        )

        # Remover colunas desnecessárias
        df_info.drop(
            columns=[
                "recno",
                "status",
                "ciclo_1_min",
                "ciclo_15_min",
                "tempo_parada",
                "tempo_rodando",
                "hora_registro",
            ],
            inplace=True,
        )

        # Reiniciar o index
        df_info.reset_index(drop=True, inplace=True)

        return df_info

Saída de Limpeza do Cadastro

In [9]:
clean_data = CleanData()

df_maq_cadastro_clean = clean_data.clean_maq_cadastro(df_maq_cadastro)

df_maq_cadastro_clean

   maquina_id fabrica  linha usuario_id  data_hora_registro
0      TMF001       1      8     002131 2023-09-25 10:45:38
1      TMF002       1      2     000264 2023-09-30 16:33:59
2      TMF003       1      5     000264 2023-10-06 15:54:22
3      TMF003       1      2     001996 2023-09-23 15:24:20
4      TMF004       1      6     001996 2023-09-25 11:52:29
5      TMF004       1      6     001996 2023-09-23 15:49:03
6      TMF005       1      1     000264 2023-11-11 12:43:59
7      TMF005       1      1     000264 2023-10-29 11:43:59
8      TMF005       1      9     000264 2023-10-14 14:57:44
9      TMF005       1      5     001996 2023-09-23 15:47:19
10     TMF006       2     10     002131 2023-09-25 10:47:09
11     TMF007       2     13     002131 2023-09-25 10:48:43
12     TMF008       1      9     000264 2023-10-29 11:44:32
13     TMF008       1      1     001996 2023-09-23 10:45:25
14     TMF009       1      7     002131 2023-09-25 10:45:10
15     TMF010       2     14     002131 2023-09-25 10:49:25
16     TMF011       1      4     001996 2023-09-23 15:46:43
17     TMF012       2     12     002131 2023-09-25 10:48:20
18     TMF013       2     11     002131 2023-09-25 12:35:43
19     TMF014       1      5     000264 2023-11-11 12:44:14
20     TMF014       1      9     000264 2023-10-22 12:33:05
21     TMF014       1      9     002131 2023-09-25 12:32:50
22     TMF015       1      3     001996 2023-09-23 15:44:16

Saída da Limpeza de Máquina Info com dados de paradas

In [10]:
df_maq_info_clean = clean_data.clean_maq_info(df_info)

df_maq_info_clean

,maquina_id,turno,status,tempo_registro_min,data_hora_registro,data_hora_final,sabado,domingo_feriado_emenda
0,TMF001,NOT,parada,482,2024-01-01 00:00:21,2024-01-01 08:02:22,False,True
1,TMF001,MAT,parada,480,2024-01-01 08:02:22,2024-01-01 16:02:24,False,True
2,TMF001,VES,parada,480,2024-01-01 16:02:24,2024-01-02 00:02:25,False,True
3,TMF001,NOT,parada,480,2024-01-02 00:02:25,2024-01-02 08:02:27,False,True
4,TMF001,MAT,parada,480,2024-01-02 08:02:27,2024-01-02 16:02:28,False,True
...,...,...,...,...,...,...,...,...
2606,TMF015,MAT,rodando,20,2024-01-10 14:56:57,2024-01-10 15:16:57,False,False
2607,TMF015,MAT,parada,22,2024-01-10 15:16:57,2024-01-10 15:38:57,False,False
2608,TMF015,MAT,rodando,24,2024-01-10 15:38:57,2024-01-10 16:02:58,False,False
2609,TMF015,VES,rodando,26,2024-01-10 16:02:58,2024-01-10 16:28:58,False,False
2610,TMF015,VES,parada,22,2024-01-10 16:28:58,2024-01-10 16:50:58,False,False

Saída da Limpeza das Ocorrências

In [11]:
df_maq_occ_clean = clean_data.clean_maq_occ(df_occ)

df_maq_occ_clean

,maquina_id,motivo_id,motivo_nome,problema,solucao,data_hora_registro,usuario_id
0,TMF006,12,Parada Programada,Parada Programada,NaN,2024-01-02 01:16:52,000453
1,TMF013,8,Manutenção Mecânica,NaN,NaN,2024-01-02 01:17:04,000453
2,TMF010,8,Manutenção Mecânica,NaN,NaN,2024-01-02 01:17:20,000453
3,TMF010,12,Parada Programada,Parada Programada,NaN,2024-01-02 01:18:45,000453
4,TMF006,12,Parada Programada,Parada Programada,NaN,2024-01-03 08:14:58,000807
...,...,...,...,...,...,...,...
259,TMF010,12,Parada Programada,Parada Programada,NaN,2024-01-10 13:26:08,000807
260,TMF001,1,Ajustes,NaN,NaN,2024-01-10 14:48:27,000838
261,TMF009,1,Ajustes,NaN,NaN,2024-01-10 14:48:42,000838
262,TMF001,8,Manutenção Mecânica,Mangueira do vácuo estourou,NaN,2024-01-10 16:45:40,000939
263,TMF015,1,Ajustes,NaN,NaN,2024-01-10 16:46:10,000939

Saída de limpeza de maquina info com dados de produção

In [12]:
df_maq_info_prod_clean = clean_data.clean_maq_info_prod(df_info)

df_maq_info_prod_clean

,maquina_id,turno,data_registro,contagem_total_ciclos,contagem_total_produzido,data_hora_registro
0,TMF001,MAT,2024-01-01,0.0,0.0,2024-01-01 16:00:24
1,TMF001,MAT,2024-01-02,0.0,0.0,2024-01-02 16:00:28
2,TMF001,MAT,2024-01-03,8148.0,8060.0,2024-01-03 16:00:32
3,TMF001,MAT,2024-01-04,9472.0,9374.0,2024-01-04 16:00:37
4,TMF001,MAT,2024-01-05,9632.0,9548.0,2024-01-05 16:00:41
...,...,...,...,...,...,...
415,TMF015,VES,2024-01-06,64.0,50.0,2024-01-06 23:58:42
416,TMF015,VES,2024-01-07,110.0,24.0,2024-01-07 23:58:46
417,TMF015,VES,2024-01-08,9434.0,8898.0,2024-01-08 23:58:50
418,TMF015,VES,2024-01-09,8198.0,8198.0,2024-01-09 23:58:55
419,TMF015,VES,2024-01-10,974.0,974.0,2024-01-10 17:12:58

## Unindo info e ocorrências

join_data.py

In [98]:
class JoinData:
    """
    Classe para unir os dados de cadastro, info e ocorrência
    """

    def __init__(self):
        pass

    def join_info_occ(
        self, occ: pd.DataFrame, info: pd.DataFrame
    ) -> pd.DataFrame:
        """
        Une os dados de info e ocorrência
        """

        df_occ = occ.copy()
        df_info = info.copy()

        # Garantir que as colunas de data sejam do tipo datetime
        df_occ["data_hora_registro"] = pd.to_datetime(
            df_occ["data_hora_registro"]
        )
        df_info["data_hora_registro"] = pd.to_datetime(
            df_info["data_hora_registro"]
        )
        df_info["data_hora_final"] = pd.to_datetime(df_info["data_hora_final"])

        # Criar uma função para ser usada em cada linha do dataframe
        def merge_rows(row):
            # Selecionar rows onde a data_hora_registro de occ está entre
            # data_hora_registro e data_hora_final de info
            mask = (
                (df_occ["data_hora_registro"] >= row["data_hora_registro"])
                & (df_occ["data_hora_registro"] <= row["data_hora_final"])
                & (df_occ["maquina_id"] == row["maquina_id"])
            )

            # Se houver rows selecionadas, retornar uma serie contendo os valores
            if df_occ.loc[mask].shape[0] > 0:
                return pd.Series(
                    [
                        df_occ.loc[mask, "motivo_id"].values[0],
                        df_occ.loc[mask, "motivo_nome"].values[0],
                        df_occ.loc[mask, "problema"].values[0],
                        df_occ.loc[mask, "solucao"].values[0],
                        df_occ.loc[mask, "data_hora_registro"].values[0],
                        df_occ.loc[mask, "usuario_id"].values[0],
                    ]
                )
            else:
                return pd.Series([None, None, None, None, None, None])

        # Aplicar a função merge_rows em cada linha do dataframe
        df_info[
            [
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "data_hora_registro_operador",
                "usuario_id",
            ]
        ] = df_info.apply(merge_rows, axis=1)

        # Ajustar para sempre que estiver parada por motivo
        # 3, 4, 5, 12, 15, 16, o status será rodando
        df_info.loc[
            (df_info["status"] == "in_test")
            & (df_info["motivo_id"].shift(1).isin([3, 4, 5, 12, 15, 16])),
            "status",
        ] = "rodando"

        # Definir o status como 12, motivo_nome "Parada Programada" e problema "Domingo/Feriado"
        # para os domingos e feriados onde o motivo_nome é nulo
        df_info.loc[
            (df_info["domingo_feriado_emenda"])
            & (df_info["tempo_registro_min"] >= 478),
            ["status", "motivo_id", "motivo_nome", "problema"],
        ] = ["parada", 12, "Parada Programada", "Domingo/Feriado"]

        # Definir como motivo_id 12 e motivo_nome "Parada Programada" se o problema for "Parada Programada"
        df_info.loc[
            df_info["problema"] == "Parada Programada",
            ["motivo_id", "motivo_nome"],
        ] = [12, "Parada Programada"]

        # Reordenar as colunas
        df_info = df_info[
            [
                "maquina_id",
                "turno",
                "status",
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "tempo_registro_min",
                "data_hora_registro",
                "data_hora_final",
                "usuario_id",
                "data_hora_registro_operador",
                "domingo_feriado_emenda",
            ]
        ]

        # Ajustar o index
        df_info.reset_index(drop=True, inplace=True)

        return df_info

    def adjust_position(self, info: pd.DataFrame) -> pd.DataFrame:
        df = info.copy()

        # Listar paradas que podem ter sido lançadas adiantadas
        paradas_adiantadas = [2, 3, 4, 5, 6, 10, 11, 13, 15, 17]

        # Se na linha anterior o motivo_id for uma parada adiantada, e o status for rodando, copiar o motivo_id
        # e motivo_nome para a linha atual
        df.loc[
            (df["motivo_id"].shift(1).isin(paradas_adiantadas))
            & (df["status"].shift(1) == "rodando"),
            [
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "data_hora_registro_operador",
                "usuario_id",
            ],
        ] = df[
            [
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "data_hora_registro_operador",
                "usuario_id",
            ]
        ].shift(
            1
        )

        # Definir paradas marcadas atrasadas
        paradas_atrasadas = [1, 7, 8]

        # Corrigir paradas atrasadas
        df.loc[
            (df["motivo_id"].shift(-1).isin(paradas_atrasadas))
            & (df["status"].shift(-1) == "rodando")
            & (df["motivo_id"] != None),
            [
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "data_hora_registro_operador",
                "usuario_id",
            ],
        ] = df[
            [
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "data_hora_registro_operador",
                "usuario_id",
            ]
        ].shift(
            -1
        )

        return df

    def info_cadastro_combine(
        self, info: pd.DataFrame, cadastro: pd.DataFrame
    ) -> pd.DataFrame:
        """
        Une os dados de info e cadastro

        Args:
        -----
            df_info (pd.DataFrame): Dataframe com os dados de info
            df_cadastro (pd.DataFrame): Dataframe com os dados de cadastro

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados combinados
        """

        # Ordenar os dataframes
        df_info = info.sort_values(by=["data_hora_registro"])
        df_cadastro = cadastro.sort_values(by=["data_hora_registro"])

        # Renomear usuario id
        df_cadastro.rename(
            columns={"usuario_id": "usuario_id_maq_cadastro"}, inplace=True
        )
        df_info.rename(
            columns={"usuario_id": "usuario_id_maq_occ"}, inplace=True
        )

        # Merge asof para unir os dataframes baseado na coluna data_hora_registro
        df_info = pd.merge_asof(
            df_info,
            df_cadastro,
            on="data_hora_registro",
            by="maquina_id",
            direction="backward",
        )

        # Reordenar as colunas
        df_info = df_info[
            [
                "maquina_id",
                "linha",
                "fabrica",
                "turno",
                "status",
                "motivo_id",
                "motivo_nome",
                "problema",
                "solucao",
                "tempo_registro_min",
                "data_hora_registro",
                "data_hora_final",
                "usuario_id_maq_occ",
                "data_hora_registro_operador",
                "usuario_id_maq_cadastro",
                "domingo_feriado_emenda",
            ]
        ]

        # Ordenar pela maquina e hora
        df_info.sort_values(
            by=["maquina_id", "data_hora_registro", "turno"],
            inplace=True,
        )

        # Ajustar o index
        df_info.reset_index(drop=True, inplace=True)

        return df_info

    def join_info_prod_cad(
        self, info: pd.DataFrame, cad: pd.DataFrame
    ) -> pd.DataFrame:
        """
        Une os dados de info e prod
        """

        # Ordenar os dataframes
        df_info = info.sort_values(by=["data_hora_registro"])
        df_cad = cad.sort_values(by=["data_hora_registro"])

        # Unir baseado na coluna data_hora_registro
        df_info_cad = pd.merge_asof(
            df_info,
            df_cad,
            on="data_hora_registro",
            by="maquina_id",
            direction="backward",
        )

        # Ordenar pela maquina e hora
        df_info_cad.sort_values(
            by=["maquina_id", "data_hora_registro", "turno"],
            inplace=True,
        )

        # Renomear usuario id
        df_info_cad.rename(
            columns={"usuario_id": "usuario_id_maq_cadastro"}, inplace=True
        )

        # Reordenar as colunas
        df_info_cad = df_info_cad[
            [
                "maquina_id",
                "linha",
                "fabrica",
                "turno",
                "contagem_total_ciclos",
                "contagem_total_produzido",
                "data_registro",
                "usuario_id_maq_cadastro",
                "data_hora_registro",
            ]
        ]

        # Ajustar o index
        df_info_cad.reset_index(drop=True, inplace=True)

        return df_info_cad

Saída de join_info_occ

In [99]:
join_data = JoinData()

df_join = join_data.join_info_occ(df_maq_occ_clean, df_maq_info_clean)

df_join

,maquina_id,turno,status,motivo_id,motivo_nome,problema,solucao,tempo_registro_min,data_hora_registro,data_hora_final,usuario_id,data_hora_registro_operador,domingo_feriado_emenda
0,TMF001,NOT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,482,2024-01-01 00:00:21,2024-01-01 08:02:22,None,NaT,True
1,TMF001,MAT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-01 08:02:22,2024-01-01 16:02:24,None,NaT,True
2,TMF001,VES,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-01 16:02:24,2024-01-02 00:02:25,None,NaT,True
3,TMF001,NOT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-02 00:02:25,2024-01-02 08:02:27,None,NaT,True
4,TMF001,MAT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-02 08:02:27,2024-01-02 16:02:28,None,NaT,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2606,TMF015,MAT,rodando,NaN,None,None,NaN,20,2024-01-10 14:56:57,2024-01-10 15:16:57,None,NaT,False
2607,TMF015,MAT,parada,NaN,None,None,NaN,22,2024-01-10 15:16:57,2024-01-10 15:38:57,None,NaT,False
2608,TMF015,MAT,rodando,NaN,None,None,NaN,24,2024-01-10 15:38:57,2024-01-10 16:02:58,None,NaT,False
2609,TMF015,VES,rodando,NaN,None,None,NaN,26,2024-01-10 16:02:58,2024-01-10 16:28:58,None,NaT,False
2610,TMF015,VES,parada,1.0,Ajustes,None,NaN,22,2024-01-10 16:28:58,2024-01-10 16:50:58,000939,2024-01-10 16:46:10,False

In [100]:
adjust_position = join_data.adjust_position(df_join)

adjust_position

,maquina_id,turno,status,motivo_id,motivo_nome,problema,solucao,tempo_registro_min,data_hora_registro,data_hora_final,usuario_id,data_hora_registro_operador,domingo_feriado_emenda
0,TMF001,NOT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,482,2024-01-01 00:00:21,2024-01-01 08:02:22,None,NaT,True
1,TMF001,MAT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-01 08:02:22,2024-01-01 16:02:24,None,NaT,True
2,TMF001,VES,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-01 16:02:24,2024-01-02 00:02:25,None,NaT,True
3,TMF001,NOT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-02 00:02:25,2024-01-02 08:02:27,None,NaT,True
4,TMF001,MAT,parada,12.0,Parada Programada,Domingo/Feriado,NaN,480,2024-01-02 08:02:27,2024-01-02 16:02:28,None,NaT,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2606,TMF015,MAT,rodando,NaN,None,None,NaN,20,2024-01-10 14:56:57,2024-01-10 15:16:57,None,NaT,False
2607,TMF015,MAT,parada,NaN,None,None,NaN,22,2024-01-10 15:16:57,2024-01-10 15:38:57,None,NaT,False
2608,TMF015,MAT,rodando,NaN,None,None,NaN,24,2024-01-10 15:38:57,2024-01-10 16:02:58,None,NaT,False
2609,TMF015,VES,rodando,NaN,None,None,NaN,26,2024-01-10 16:02:58,2024-01-10 16:28:58,None,NaT,False
2610,TMF015,VES,parada,1.0,Ajustes,NaN,NaN,22,2024-01-10 16:28:58,2024-01-10 16:50:58,000939,2024-01-10 16:46:10,False

## Ajustes nos problemas

In [101]:
class GetStopsData:
    """
    Classe para consolidar os dados de paradas
    """

    def __init__(self):
        pass

    def problems_adjust(self, df: pd.DataFrame, threshold=88) -> pd.DataFrame:
        """
        Ajusta os problemas

        Args:
        -----
            df (pd.DataFrame): Dataframe com os dados de paradas
            threshold (int): Limiar de similaridade para identificar os problemas

        Retorna:
        --------
            pd.DataFrame: Dataframe com os dados de paradas ajustados

        Exemplo:
        --------
            >>> from app.service.get_stops_data import GetStopsData
            >>> import pandas as pd
            >>> get_stops_data = GetStopsData()
            >>> df_stops = get_stops_data.problems_adjust(df)
        """

        # Encontrar problemas únicos
        unique_problems = df["problema"].unique()
        problem_mapping = {}

        # Criar um dicionário para mapear os problemas
        for problem in unique_problems:
            if problem and problem not in problem_mapping:
                problem = str(problem).capitalize()

                # Corrigir erros básicos de digitação
                problem = problem.replace("Beckup", "Backup")
                problem = problem.replace("Becukp", "Backup")
                problem = problem.replace("Stm", "Atm")

                matches = process.extract(
                    problem, unique_problems, limit=len(unique_problems)
                )

                # Encontrar os problemas com maior similaridade
                similar_problems = [
                    match[0] for match in matches if match[1] >= threshold
                ]

                # Criar um dicionário com os problemas similares
                for similar_problem in similar_problems:
                    problem_mapping[similar_problem] = problem

        # Mapear os problemas
        df["problema"] = df["problema"].map(problem_mapping)

        return df

Saída após corrigir gramática

In [103]:
get_stops = GetStopsData()

problems_adjusted = get_stops.problems_adjust(adjust_position)

problems_adjusted

,maquina_id,turno,status,motivo_id,motivo_nome,problema,solucao,tempo_registro_min,data_hora_registro,data_hora_final,usuario_id,data_hora_registro_operador,domingo_feriado_emenda
0,TMF001,NOT,parada,12.0,Parada Programada,Domingo/feriado,NaN,482,2024-01-01 00:00:21,2024-01-01 08:02:22,None,NaT,True
1,TMF001,MAT,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-01 08:02:22,2024-01-01 16:02:24,None,NaT,True
2,TMF001,VES,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-01 16:02:24,2024-01-02 00:02:25,None,NaT,True
3,TMF001,NOT,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-02 00:02:25,2024-01-02 08:02:27,None,NaT,True
4,TMF001,MAT,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-02 08:02:27,2024-01-02 16:02:28,None,NaT,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2606,TMF015,MAT,rodando,NaN,None,NaN,NaN,20,2024-01-10 14:56:57,2024-01-10 15:16:57,None,NaT,False
2607,TMF015,MAT,parada,NaN,None,NaN,NaN,22,2024-01-10 15:16:57,2024-01-10 15:38:57,None,NaT,False
2608,TMF015,MAT,rodando,NaN,None,NaN,NaN,24,2024-01-10 15:38:57,2024-01-10 16:02:58,None,NaT,False
2609,TMF015,VES,rodando,NaN,None,NaN,NaN,26,2024-01-10 16:02:58,2024-01-10 16:28:58,None,NaT,False
2610,TMF015,VES,parada,1.0,Ajustes,Nan,NaN,22,2024-01-10 16:28:58,2024-01-10 16:50:58,000939,2024-01-10 16:46:10,False

## Combinando com Maquina Cadastro

Usa join_data.py

In [104]:
df_maq_info_cadastro_combined = join_data.info_cadastro_combine(
    problems_adjusted, df_maq_cadastro_clean
)

df_maq_info_cadastro_combined

,maquina_id,linha,fabrica,turno,status,motivo_id,motivo_nome,problema,solucao,tempo_registro_min,data_hora_registro,data_hora_final,usuario_id_maq_occ,data_hora_registro_operador,usuario_id_maq_cadastro,domingo_feriado_emenda
0,TMF001,8,1,NOT,parada,12.0,Parada Programada,Domingo/feriado,NaN,482,2024-01-01 00:00:21,2024-01-01 08:02:22,None,NaT,002131,True
1,TMF001,8,1,MAT,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-01 08:02:22,2024-01-01 16:02:24,None,NaT,002131,True
2,TMF001,8,1,VES,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-01 16:02:24,2024-01-02 00:02:25,None,NaT,002131,True
3,TMF001,8,1,NOT,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-02 00:02:25,2024-01-02 08:02:27,None,NaT,002131,True
4,TMF001,8,1,MAT,parada,12.0,Parada Programada,Domingo/feriado,NaN,480,2024-01-02 08:02:27,2024-01-02 16:02:28,None,NaT,002131,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2606,TMF015,3,1,MAT,rodando,NaN,None,NaN,NaN,20,2024-01-10 14:56:57,2024-01-10 15:16:57,None,NaT,001996,False
2607,TMF015,3,1,MAT,parada,NaN,None,NaN,NaN,22,2024-01-10 15:16:57,2024-01-10 15:38:57,None,NaT,001996,False
2608,TMF015,3,1,MAT,rodando,NaN,None,NaN,NaN,24,2024-01-10 15:38:57,2024-01-10 16:02:58,None,NaT,001996,False
2609,TMF015,3,1,VES,rodando,NaN,None,NaN,NaN,26,2024-01-10 16:02:58,2024-01-10 16:28:58,None,NaT,001996,False
2610,TMF015,3,1,VES,parada,1.0,Ajustes,Nan,NaN,22,2024-01-10 16:28:58,2024-01-10 16:50:58,000939,2024-01-10 16:46:10,001996,False

In [105]:
df_maq_info_prod_cad_combined = join_data.join_info_prod_cad(
    df_maq_info_prod_clean, df_maq_cadastro_clean
)

df_maq_info_prod_cad_combined

,maquina_id,linha,fabrica,turno,contagem_total_ciclos,contagem_total_produzido,data_registro,usuario_id_maq_cadastro,data_hora_registro
0,TMF001,8,1,NOT,0.0,0.0,2024-01-01,002131,2024-01-01 08:00:22
1,TMF001,8,1,MAT,0.0,0.0,2024-01-01,002131,2024-01-01 16:00:24
2,TMF001,8,1,VES,0.0,0.0,2024-01-01,002131,2024-01-01 23:58:25
3,TMF001,8,1,NOT,0.0,0.0,2024-01-02,002131,2024-01-02 08:00:27
4,TMF001,8,1,MAT,0.0,0.0,2024-01-02,002131,2024-01-02 16:00:28
...,...,...,...,...,...,...,...,...,...
415,TMF015,3,1,MAT,5184.0,5184.0,2024-01-09,001996,2024-01-09 16:00:53
416,TMF015,3,1,VES,8198.0,8198.0,2024-01-09,001996,2024-01-09 23:58:55
417,TMF015,3,1,NOT,9222.0,9222.0,2024-01-10,001996,2024-01-10 08:00:56
418,TMF015,3,1,MAT,7404.0,7404.0,2024-01-10,001996,2024-01-10 16:00:58
419,TMF015,3,1,VES,974.0,974.0,2024-01-10,001996,2024-01-10 17:12:58

# Conseguir tempos - Total, Perda de Eficiência, Performance, Reparos e Qualidade

## times_data.py

In [106]:
class TimesData:
    def __init__(self):
        pass

    def get_efficiency_data(self, info_stops: pd.DataFrame) -> pd.DataFrame:
        # Descontos de paradas alinhados com PCP (em minutos)
        descontos = {
            3: 60,
            5: 10,
            10: 15,
            11: 35,
            15: 60,
            17: 15,
        }

        # Adicionar coluna com descontos de parada
        info_stops["desconto"] = info_stops["motivo_id"].map(descontos)

        # Se houver desconto, subtrair do tempo de parada e arredondar para baixo, em uma nova coluna chamada excedente
        info_stops["excedente"] = (
            info_stops["tempo_registro_min"] - info_stops["desconto"]
        ).clip(lower=0)

        return info_stops

    def get_times_data(self, info_stops: pd.DataFrame) -> pd.DataFrame:
        # Conseguir a data de hoje (apenas dia, mês e ano)
        today = datetime.now().date()

        # Conseguir o primeiro dia do mês
        first_day = today.replace(day=1)

        # Criar um dataframe com todas as datas do mês, com todas as máquinas, com todos os turnos
        df_dates = pd.DataFrame(
            list(
                product(
                    info_stops["maquina_id"].unique(),
                    info_stops["turno"].unique(),
                    pd.date_range(first_day, today),
                )
            ),
            columns=["maquina_id", "turno", "data_registro"],
        )

        # Incluir coluna com número do turno para facilitar ordenação
        df_dates["turno_num"] = df_dates["turno"].replace(
            {"MAT": 2, "VES": 3, "NOT": 1}
        )

        # Ordenar por máquina, turno e data
        df_dates.sort_values(
            by=["maquina_id", "data_registro", "turno_num"], inplace=True
        )

        # Criar coluna com tempo do turno
        df_dates["tempo_turno_min"] = 480

        print(df_dates)

Saída de get_times_data

In [107]:
times_data = TimesData()

df_times = times_data.get_times_data(df_maq_info_cadastro_combined)

df_times

    maquina_id turno data_registro  turno_num  tempo_turno_min
0       TMF001   NOT    2024-01-01          1              480
10      TMF001   MAT    2024-01-01          2              480
20      TMF001   VES    2024-01-01          3              480
1       TMF001   NOT    2024-01-02          1              480
11      TMF001   MAT    2024-01-02          2              480
..         ...   ...           ...        ...              ...
408     TMF015   MAT    2024-01-09          2              480
418     TMF015   VES    2024-01-09          3              480
399     TMF015   NOT    2024-01-10          1              480
409     TMF015   MAT    2024-01-10          2              480
419     TMF015   VES    2024-01-10          3              480

[420 rows x 5 columns]

Saída de get_efficiency_data