# Importações

In [51]:
import urllib
from itertools import product
from os import getenv
from sqlalchemy import create_engine
from dotenv import load_dotenv

import numpy as np
import pandas as pd
from datetime import datetime, timedelta, time
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import plotly.express as px
from fuzzywuzzy import process
from enum import Enum


FERIADOS = pd.read_csv("../assets/feriados.csv")

### Types

In [52]:
# cSpell: disable
class BSColorsEnum(Enum):

    DANGER_COLOR = "#dc3545"

    WARNING_COLOR = "#ffc107"

    SUCCESS_COLOR = "#198754"

    GREY_500_COLOR = "#adb5bd"

    GREY_600_COLOR = "#6c757d"

    GREY_700_COLOR = "#495057"

    GREY_800_COLOR = "#343a40"

    GREY_900_COLOR = "#212529"

    PRIMARY_COLOR = "#0d6efd"

    SECONDARY_COLOR = "#6c757d"

    INFO_COLOR = "#0dcaf0"

    GRAY_COLOR = "#adb5bd"

    TEAL_COLOR = "#20c997"

    ORANGE_COLOR = "#fd7e14"

    INDIGO_COLOR = "#6610f2"

    PINK_COLOR = "#d63384"

    PURPLE_COLOR = "#6f42c1"

    GREY_400_COLOR = "#ced4da"

    SPACE_CADET_COLOR = "#282f44"

    BLUE_DELFT_COLOR = "#0d6efd"


class IndicatorType(Enum):
    PERFORMANCE = "performance"
    REPAIR = "reparo"
    EFFICIENCY = "eficiencia"


def get_color(value, max_value):
    """
    Retorna uma cor hexadecimal com base no valor fornecido e no valor máximo.

    Parâmetros:
    value (float): O valor para o qual a cor será calculada.
    max_value (float): O valor máximo possível.

    Retorna:
    str: Uma cor hexadecimal correspondente ao valor fornecido.
    """

    # Cria um mapa de cores que vai do vermelho ao verde
    cmap = plt.get_cmap("RdYlGn")

    # Normaliza o valor para um número entre 0 e 1
    normalized_value = float(value) / max_value

    # Obtém a cor correspondente do mapa de cores
    rgba_color = cmap(normalized_value)

    # Converte a cor RGBA para uma string de cor hexadecimal
    hex_color = (
        f"#{int(rgba_color[0]*255):02x}{int(rgba_color[1]*255):02x}{int(rgba_color[2]*255):02x}"
    )

    return hex_color

# Database

## Conexão com o banco de dados

In [53]:
# database/connection.py

# cSpell: disable=invalid-name
load_dotenv()


class Connection:
    """
    Class Connection
    """

    def __init__(self):
        """
        Constructor

        Args:
            user (str): user
            password (str): password
            database (str): database
            driver (str): driver
            server (str): server

        Usage:
            >>> from connection import Connection
            >>> connection = Connection()
            >>> connection.get_connection()
        """
        self.__user = getenv("PYMSSQL_USER")
        self.__password = getenv("PYMSSQL_PASSWORD")
        self.__database = getenv("PYMSSQL_DATABASE_AUTOMACAO")
        self.__database_totvsdb = getenv("PYMSSQL_DATABASE_TOTVSDB")
        self.__driver = "{ODBC Driver 17 for SQL Server}"
        self.__server = getenv("PYMSSQL_SERVER")

    def get_connection_automacao(self):
        """
        Get connection

        Returns:
            object: connection

        Usage:
            >>> from connection import Connection
            >>> connection = Connection()
            >>> connection.get_connection()
        """
        try:
            params = urllib.parse.quote_plus(
                f"DRIVER={self.__driver};"
                f"SERVER={self.__server};"
                f"DATABASE={self.__database};"
                f"UID={self.__user};"
                f"PWD={self.__password};"
            )
            # pylint: disable=consider-using-f-string
            conexao_automacao = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
            return conexao_automacao
        # pylint: disable=broad-except
        except Exception as error:
            print(f"Error: {error}")
            return None

    def get_connection_totvsdb(self):
        """
        Get connection

        Returns:
            object: connection

        Usage:
            >>> from connection import Connection
            >>> connection = Connection()
            >>> connection.get_connection()
        """
        try:
            params = urllib.parse.quote_plus(
                f"DRIVER={self.__driver};"
                f"SERVER={self.__server};"
                f"DATABASE={self.__database_totvsdb};"
                f"UID={self.__user};"
                f"PWD={self.__password};"
            )
            conexao_totvsdb = create_engine(f"mssql+pyodbc:///?odbc_connect={params}", pool_size=2)
            return conexao_totvsdb
        # pylint: disable=broad-except
        except Exception as error:
            print(f"Error: {error}")
            return None

## Leitura do banco de dados

In [54]:
# database/db_read.py


# cSpell: disable=invalid-name
class Read(Connection):
    """
    Class Read
    Read data from the database and return a pandas dataframe
    Create query to be executed in the database
    """

    # pylint: disable=useless-super-delegation
    def __init__(self):
        """
        Constructor
        """
        super().__init__()

    def get_automacao_data(self, query: str) -> pd.DataFrame:
        """
        Get data from database AUTOMACAO and return a pandas dataframe.

        Parameters
        ----------
        query : str
            Query to be executed in the database

        Returns
        -------
        pandas dataframe
            Dataframe with the query result
        """
        try:
            connection = self.get_connection_automacao()
            data = pd.read_sql(query, connection)
            return data
        # pylint: disable=broad-except
        except Exception as error:
            print(f"Error: {error}")
            return None
        finally:
            if connection:
                connection.dispose()

    def create_automacao_query(self, table: str, where: str = None, orderby: str = None) -> str:
        """
        Create query to be executed in the database AUTOMACAO.

        Parameters
        ----------
        table : str
            Table name
        where : str
            Where clause (optional)
        orderby : str
            Order by clause (optional)

        Returns
        -------
        str
            Query to be executed in the database
        """
        query = f"SELECT * FROM AUTOMACAO.dbo.{table}"

        if where:
            query += f" WHERE {where}"

        if orderby:
            query += f" ORDER BY {orderby}"

        return query

    def get_totvsdb_data(self, query: str) -> pd.DataFrame:
        """
        Retrieves data from the TotvsDB database using the provided SQL query.

        Args:
            query (str): The SQL query to execute.

        Returns:
            pd.DataFrame: A pandas DataFrame containing the retrieved data.

        Raises:
            Exception: If an error occurs while retrieving the data.

        """
        connection = None
        try:
            connection = self.get_connection_totvsdb()
            data = pd.read_sql(query, connection)
            return data
        # pylint: disable=broad-except
        except Exception as e:
            print(f"Erro ao buscar dados: {e}")
            return None
        finally:
            if connection:
                connection.dispose()

    def create_totvsdb_query(
        self, select: str, table: str, join: str = None, where: str = None, orderby: str = None
    ) -> str:
        """
        Creates a SQL query string for querying the TOTVS database.

        Args:
            select (str): The SELECT clause of the query.
            table (str): The table name to query.
            join (str, optional): The JOIN clause of the query. Defaults to None.
            where (str, optional): The WHERE clause of the query. Defaults to None.
            orderby (str, optional): The ORDER BY clause of the query. Defaults to None.

        Returns:
            str: The SQL query string.
        """
        query = f"SELECT {select} FROM {table}"

        if join:
            query += f" {join}"

        if where:
            query += f" WHERE {where}"

        if orderby:
            query += f" ORDER BY {orderby}"

        return query

## Query para o banco de dados

In [55]:
# // database/get_data.py
# cSpell: disable=invalid-name
class GetData:
    """
    Essa classe é responsável por realizar a leitura dos dados do banco de dados.
    É utilizada para fazer a leitura em segundo plano, sem que o usuário perceba.
    """

    def __init__(self):
        self.db_read = Read()

    def get_data(self) -> tuple:
        """
        Realiza a leitura dos dados do banco de dados.
        Retorna na ordem: df_ihm, df_info, df_cadastro
        """

        # Dia de hoje
        now = pd.to_datetime("today")

        # Encontrando primeiro dia do mês atual
        first_day = now.replace(day=1)

        # Mantendo apenas a data
        first_day = first_day.strftime("%Y-%m-%d")

        # Query para leitura dos dados de ocorrência
        query_ihm = self.db_read.create_automacao_query(
            table="maquina_ihm",
            where=f"data_registro >= '{first_day}'",
        )

        query_info = (
            "SELECT"
            " t1.maquina_id,"
            " (SELECT TOP 1 t2.linha FROM AUTOMACAO.dbo.maquina_cadastro t2"
            " WHERE t2.maquina_id = t1.maquina_id AND t2.data_registro <= t1.data_registro"
            " ORDER BY t2.data_registro DESC, t2.hora_registro DESC) as linha,"
            " (SELECT TOP 1 t2.fabrica FROM AUTOMACAO.dbo.maquina_cadastro t2"
            " WHERE t2.maquina_id = t1.maquina_id AND t2.data_registro <= t1.data_registro"
            " ORDER BY t2.data_registro DESC, t2.hora_registro DESC) as fabrica,"
            " t1.status,"
            " t1.turno,"
            " t1.contagem_total_ciclos,"
            " t1.contagem_total_produzido,"
            " t1.data_registro,"
            " t1.hora_registro"
            " FROM "
            " AUTOMACAO.dbo.maquina_info t1"
            f" WHERE data_registro >= '{first_day}'"
            " ORDER BY t1.data_registro DESC, t1.hora_registro DESC"
        )

        query_production = (
            "SELECT * "
            "FROM ( "
            "SELECT "
            "(SELECT TOP 1 t2.fabrica FROM AUTOMACAO.dbo.maquina_cadastro t2 "
            "WHERE t2.maquina_id = t1.maquina_id AND t2.data_registro <= t1.data_registro "
            "ORDER BY t2.data_registro DESC, t2.hora_registro DESC) as fabrica, "
            "(SELECT TOP 1 t2.linha FROM AUTOMACAO.dbo.maquina_cadastro t2 "
            "WHERE t2.maquina_id = t1.maquina_id AND t2.data_registro <= t1.data_registro "
            "ORDER BY t2.data_registro DESC, t2.hora_registro DESC) as linha, "
            "t1.maquina_id, "
            "t1.turno, "
            "t1.status, "
            "t1.contagem_total_ciclos as total_ciclos, "
            "t1.contagem_total_produzido as total_produzido, "
            "t1.data_registro, "
            "t1.hora_registro, "
            "ROW_NUMBER() OVER ( "
            "PARTITION BY t1.data_registro, t1.turno, t1.maquina_id "
            "ORDER BY t1.data_registro DESC, t1.hora_registro DESC"
            ") AS rn "
            "FROM AUTOMACAO.dbo.maquina_info t1 "
            ") AS t "
            f" WHERE rn = 1 AND data_registro >= '{first_day}' AND hora_registro > '00:01'"
            " ORDER BY data_registro DESC, linha"
        )

        # Leitura dos dados
        df_ihm = self.db_read.get_automacao_data(query_ihm)
        df_info = self.db_read.get_automacao_data(query_info)
        df_info_production = self.db_read.get_automacao_data(query_production)

        # Verificando se os dados foram lidos corretamente
        if df_ihm.empty or df_info.empty or df_info_production.empty:
            print("====== Erro na leitura dos dados ======")
            return None, None, None

        return df_ihm, df_info, df_info_production


get_data = GetData()
df_ihm, df_info, df_info_production = get_data.get_data()

## Testes de saída do banco de dados

In [76]:
df_ihm.head(20)

,recno,linha,maquina_id,motivo,equipamento,problema,causa,os_numero,operador_id,data_registro,hora_registro
0,15,4,TMF012,Parada Programada,,Parada Planejada,Sem Produção,,002357,2024-04-24,11:28:20.666666
1,16,4,TMF012,Parada Programada,,Parada Planejada,Backup,,002357,2024-04-24,14:47:36.466666
2,17,0,TMF004,Fluxo,Recheadora,Falta de Pasta,Batida de pasta interrompida pela qualidade,,002357,2024-04-26,09:11:56.196666
3,18,1,TMF003,Parada Programada,,Parada Planejada,Refeição,,002357,2024-04-26,11:29:24.796666

In [57]:
df_info.head(20)

,maquina_id,linha,fabrica,status,turno,contagem_total_ciclos,contagem_total_produzido,data_registro,hora_registro
0,TMF004,9.0,1,false,MAT,332.0,238.0,2024-04-30,13:39:13.036666
1,TMF014,8.0,1,false,MAT,438.0,3212.0,2024-04-30,13:39:12.036666
2,TMF006,7.0,1,false,MAT,370.0,318.0,2024-04-30,13:39:11.036666
3,TMF001,6.0,1,false,MAT,482.0,336.0,2024-04-30,13:39:10.033333
4,TMF002,5.0,1,false,MAT,300.0,234.0,2024-04-30,13:39:09.030000
5,TMF012,4.0,1,false,MAT,48.0,38.0,2024-04-30,13:39:08.030000
6,TMF015,3.0,1,false,MAT,156.0,64.0,2024-04-30,13:39:07.030000
7,TMF011,2.0,1,false,MAT,68.0,6.0,2024-04-30,13:39:06.026666
8,TMF003,1.0,1,false,MAT,18.0,12.0,2024-04-30,13:39:05.026666
9,TMF004,9.0,1,false,MAT,332.0,238.0,2024-04-30,13:37:13.030000
10,TMF014,8.0,1,false,MAT,438.0,3212.0,2024-04-30,13:37:12.030000
11,TMF006,7.0,1,false,MAT,370.0,318.0,2024-04-30,13:37:11.026666
12,TMF001,6.0,1,false,MAT,482.0,336.0,2024-04-30,13:37:10.026666
13,TMF002,5.0,1,false,MAT,300.0,234.0,2024-04-30,13:37:09.023333
14,TMF012,4.0,1,false,MAT,48.0,38.0,2024-04-30,13:37:08.023333
15,TMF015,3.0,1,false,MAT,156.0,64.0,2024-04-30,13:37:07.023333
16,TMF011,2.0,1,false,MAT,68.0,6.0,2024-04-30,13:37:06.020000
17,TMF003,1.0,1,false,MAT,18.0,12.0,2024-04-30,13:37:05.020000
18,TMF004,9.0,1,false,MAT,332.0,238.0,2024-04-30,13:35:13.026666
19,TMF014,8.0,1,false,MAT,438.0,3212.0,2024-04-30,13:35:12.023333

In [58]:
df_info_production.head(20)

,fabrica,linha,maquina_id,turno,status,total_ciclos,total_produzido,data_registro,hora_registro,rn
0,1,1.0,TMF003,NOT,false,58.0,44.0,2024-04-30,07:59:04.006666,1
1,1,1.0,TMF003,MAT,false,18.0,12.0,2024-04-30,13:39:05.026666,1
2,1,2.0,TMF011,NOT,false,68.0,6.0,2024-04-30,07:59:05.006666,1
3,1,2.0,TMF011,MAT,false,68.0,6.0,2024-04-30,13:39:06.026666,1
4,1,3.0,TMF015,MAT,false,156.0,64.0,2024-04-30,13:39:07.030000,1
5,1,3.0,TMF015,NOT,false,156.0,64.0,2024-04-30,07:59:06.010000,1
6,1,4.0,TMF012,NOT,false,48.0,38.0,2024-04-30,07:59:07.010000,1
7,1,4.0,TMF012,MAT,false,48.0,38.0,2024-04-30,13:39:08.030000,1
8,1,5.0,TMF002,MAT,false,300.0,234.0,2024-04-30,13:39:09.030000,1
9,1,5.0,TMF002,NOT,false,300.0,234.0,2024-04-30,07:59:08.010000,1
10,1,6.0,TMF001,NOT,false,482.0,336.0,2024-04-30,07:59:09.013333,1
11,1,6.0,TMF001,MAT,false,482.0,336.0,2024-04-30,13:39:10.033333,1
12,1,7.0,TMF006,NOT,false,370.0,318.0,2024-04-30,07:59:10.013333,1
13,1,7.0,TMF006,MAT,false,370.0,318.0,2024-04-30,13:39:11.036666,1
14,1,8.0,TMF014,MAT,false,438.0,3212.0,2024-04-30,13:39:12.036666,1
15,1,8.0,TMF014,NOT,false,438.0,3212.0,2024-04-30,07:59:11.016666,1
16,1,9.0,TMF004,MAT,false,332.0,238.0,2024-04-30,13:39:13.036666,1
17,1,9.0,TMF004,NOT,false,332.0,238.0,2024-04-30,07:59:12.016666,1
18,1,1.0,TMF003,MAT,false,4040.0,4024.0,2024-04-29,15:59:01.130000,1
19,1,1.0,TMF003,NOT,true,6874.0,6822.0,2024-04-29,07:58:59.736666,1

# Limpeza de dados e análise exploratória

## Análise de dados - Clean Data

In [59]:
# service/clean_data.py


# cSpell: disable=invalid-name
class CleanData:
    """
    Essa classe é responsável por limpar os dados lidos do banco de dados.
    """

    def __init__(self, df_ihm, df_info, df_info_production):
        self.df_ihm = df_ihm
        self.df_info = df_info
        self.df_info_production = df_info_production

    def __clean_basics(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados básicos de um DataFrame.
        """

        # Remove valores duplicados
        df = df.drop_duplicates()

        # Remove linhas com valores nulos
        df = df.dropna(subset=["maquina_id", "data_registro", "hora_registro"])

        # Converte a coluna 'hora_registro' para string e remove os milissegundos
        df["hora_registro"] = df["hora_registro"].astype(str).str.split(".").str[0]

        # Converte as colunas 'data_registro' e 'hora_registro' para datetime
        df["data_registro"] = pd.to_datetime(df["data_registro"])
        df["hora_registro"] = pd.to_datetime(df["hora_registro"], format="%H:%M:%S").dt.time

        # Substitui os valores NaN por 0 antes de converter para int
        df["linha"] = df["linha"].fillna(0).astype(int)

        # Coluna linha para int
        df["linha"] = df["linha"].astype(int)

        # Remover onde a 'linha' é 0
        df = df[df["linha"] != 0]

        return df

    def __clean_info(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados de informações.
        Fica desatualizado após implementação das IHMs.
        Manter apenas para código legado.
        """

        # Reordenar o dataframe
        df = df.sort_values(by=["maquina_id", "data_registro", "hora_registro"])

        # Remover a primeira entrada caso seja do turno "VES"
        mask = (df["turno"] == "VES") & (df["maquina_id"] != df["maquina_id"].shift())
        df = df[~mask]

        # Ajustar o turno VES caso a hora da entrada passe de 00:00, para 23:59 do dia anterior
        mask = (
            (df["turno"] == "VES")
            & (df["hora_registro"] > time(0, 0, 0))
            & (df["hora_registro"] < time(0, 5, 0))
        )

        df.loc[mask, "hora_registro"] = time(23, 59, 59)
        df.loc[mask, "data_registro"] = df.loc[mask, "data_registro"] - timedelta(days=1)

        return df

    def __clean_prod(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Limpa os dados de produção.
        """

        # Coluna auxiliar para ordenar os turnos
        df["turno_aux"] = df["turno"].map({"MAT": 2, "VES": 3, "NOT": 1})

        # Ordenar os valores
        df = df.sort_values(by=["linha", "data_registro", "turno_aux"])

        # Remover a coluna auxiliar
        df = df.drop(columns=["turno_aux", "rn", "status"])

        # Coluna linha para int
        df["linha"] = df["linha"].astype(int)

        # Reiniciar o índice
        df = df.reset_index(drop=True)

        return df

    def clean_data(self) -> tuple:
        """
        Limpa os dados lidos do banco de dados.
        Retorna na ordem: df_ihm, df_info, df_info_production
        """

        # Limpando os dados(removendo linhas duplicadas ou nulas em informações importantes)
        self.df_ihm = self.__clean_basics(self.df_ihm)
        self.df_info = self.__clean_basics(self.df_info)
        self.df_info_production = self.__clean_basics(self.df_info_production)

        # Ajustando o status
        # Ajusta nomenclatura do status
        self.df_info["status"] = np.where(self.df_info["status"] == "true", "rodando", "parada")

        # Ajustes nas informações de produção
        self.df_info_production = self.__clean_prod(self.df_info_production)

        # NOTE: A fonção abaixo ficará desatualizada após a implementação das IHMs
        self.df_info = self.__clean_info(self.df_info)

        return self.df_ihm, self.df_info, self.df_info_production


clean_data = CleanData(df_ihm.copy(), df_info.copy(), df_info_production.copy())
df_ihm_cleaned, df_info_cleaned, df_info_production_cleaned = clean_data.clean_data()

### Saída de dados limpos

In [60]:
df_ihm_cleaned

,recno,linha,maquina_id,motivo,equipamento,problema,causa,os_numero,operador_id,data_registro,hora_registro
0,15,4,TMF012,Parada Programada,,Parada Planejada,Sem Produção,,002357,2024-04-24,11:28:20
1,16,4,TMF012,Parada Programada,,Parada Planejada,Backup,,002357,2024-04-24,14:47:36
3,18,1,TMF003,Parada Programada,,Parada Planejada,Refeição,,002357,2024-04-26,11:29:24

In [61]:
df_info_cleaned

,maquina_id,linha,fabrica,status,turno,contagem_total_ciclos,contagem_total_produzido,data_registro,hora_registro
261433,TMF001,6,1,parada,NOT,12.0,0.0,2024-04-01,00:02:23
261419,TMF001,6,1,parada,NOT,12.0,0.0,2024-04-01,00:04:23
261405,TMF001,6,1,parada,NOT,12.0,0.0,2024-04-01,00:06:23
261391,TMF001,6,1,parada,NOT,16.0,0.0,2024-04-01,00:08:23
261377,TMF001,6,1,parada,NOT,24.0,0.0,2024-04-01,00:10:23
...,...,...,...,...,...,...,...,...,...
42,TMF015,3,1,parada,MAT,156.0,64.0,2024-04-30,13:31:07
33,TMF015,3,1,parada,MAT,156.0,64.0,2024-04-30,13:33:07
24,TMF015,3,1,parada,MAT,156.0,64.0,2024-04-30,13:35:07
15,TMF015,3,1,parada,MAT,156.0,64.0,2024-04-30,13:37:07
6,TMF015,3,1,parada,MAT,156.0,64.0,2024-04-30,13:39:07

In [62]:
df_info_production_cleaned

,fabrica,linha,maquina_id,turno,total_ciclos,total_produzido,data_registro,hora_registro
0,1,1,TMF005,NOT,7280.0,7164.0,2024-04-01,08:00:20
1,1,1,TMF005,MAT,6278.0,6218.0,2024-04-01,15:58:21
2,1,1,TMF005,VES,8718.0,8490.0,2024-04-01,23:58:22
3,1,1,TMF005,NOT,9036.0,9004.0,2024-04-02,08:00:24
4,1,1,TMF005,MAT,8894.0,8710.0,2024-04-02,15:58:25
...,...,...,...,...,...,...,...,...
1117,2,14,TMF009,NOT,0.0,0.0,2024-04-26,07:58:52
1118,2,14,TMF009,MAT,72.0,14.0,2024-04-26,15:58:53
1119,2,14,TMF009,VES,0.0,0.0,2024-04-26,23:58:55
1120,2,14,TMF009,NOT,0.0,0.0,2024-04-27,07:58:56
1121,2,14,TMF009,MAT,0.0,0.0,2024-04-27,12:14:57

# Unindo os dados

## IHM + Info

In [63]:
class JoinInfoIHM:
    """
    Essa classe é responsável por juntar os DataFrames de informações e IHM.
    """

    def __init__(self, df_ihm, df_info):
        self.df_ihm = df_ihm
        self.df_info = df_info

    def join_data(self) -> pd.DataFrame:
        """
        Junta os DataFrames de informações e IHM.
        """

        # Cria uma coluna auxiliar com data e hora para fazer o merge
        self.df_info["data_hora"] = pd.to_datetime(
            self.df_info["data_registro"].astype(str)
            + " "
            + self.df_info["hora_registro"].astype(str)
        )

        self.df_ihm["data_hora"] = pd.to_datetime(
            self.df_ihm["data_registro"].astype(str)
            + " "
            + self.df_ihm["hora_registro"].astype(str)
        )

        # Classifica os DataFrames
        self.df_info = self.df_info.sort_values(by="data_hora")
        self.df_ihm = self.df_ihm.sort_values(by="data_hora")

        # Junta os DataFrames
        df = pd.merge_asof(
            self.df_info,
            self.df_ihm.drop(columns="recno"),
            on="data_hora",
            by="maquina_id",
            direction="nearest",
            tolerance=pd.Timedelta("1 min 10 s"),
        )

        # Ajustas os tipos das colunas contagem_total_ciclos e contagem_total_produzido para int
        df["contagem_total_ciclos"] = df["contagem_total_ciclos"].astype("Int64")
        df["contagem_total_produzido"] = df["contagem_total_produzido"].astype("Int64")

        # Reordenar as colunas mantendo só as colunas necessárias e renomeando as colunas para facilitar a compreensão
        df = df[
            [
                "fabrica",
                "linha_x",
                "maquina_id",
                "turno",
                "status",
                "contagem_total_ciclos",
                "contagem_total_produzido",
                "data_registro_x",
                "hora_registro_x",
                "motivo",
                "equipamento",
                "problema",
                "causa",
                "os_numero",
                "operador_id",
                "data_registro_y",
                "hora_registro_y",
            ]
        ]

        df.columns = [
            "fabrica",
            "linha",
            "maquina_id",
            "turno",
            "status",
            "contagem_total_ciclos",
            "contagem_total_produzido",
            "data_registro",
            "hora_registro",
            "motivo",
            "equipamento",
            "problema",
            "causa",
            "os_numero",
            "operador_id",
            "data_registro_ihm",
            "hora_registro_ihm",
        ]

        # Reordenar pela linha, data_registro_info e hora_registro_info
        df = df.sort_values(by=["linha", "data_registro", "hora_registro"])

        return df


join_info_ihm = JoinInfoIHM(df_ihm_cleaned.copy(), df_info_cleaned.copy())
df_joined = join_info_ihm.join_data()

### Saída de Join

In [64]:
df_joined

,fabrica,linha,maquina_id,turno,status,contagem_total_ciclos,contagem_total_produzido,data_registro,hora_registro,motivo,equipamento,problema,causa,os_numero,operador_id,data_registro_ihm,hora_registro_ihm
5,1,1,TMF005,NOT,parada,0,0,2024-04-01,00:02:18,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
19,1,1,TMF005,NOT,parada,0,0,2024-04-01,00:04:18,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
33,1,1,TMF005,NOT,parada,0,0,2024-04-01,00:06:18,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
47,1,1,TMF005,NOT,parada,0,0,2024-04-01,00:08:18,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
61,1,1,TMF005,NOT,parada,0,0,2024-04-01,00:10:18,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240486,2,14,TMF009,MAT,parada,0,0,2024-04-27,12:06:57,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
240499,2,14,TMF009,MAT,parada,0,0,2024-04-27,12:08:57,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
240514,2,14,TMF009,MAT,parada,0,0,2024-04-27,12:10:57,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
240528,2,14,TMF009,MAT,parada,0,0,2024-04-27,12:12:57,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
240541,2,14,TMF009,MAT,parada,0,0,2024-04-27,12:14:57,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

# Service

## Info + IHM Service

In [65]:
class ServiceInfoIHM:
    """
    Essa classe é responsável por realizar a leitura, limpeza e junção dos dados de informações e IHM.
    """

    def __init__(self):
        self.get_data = GetData()
        self.clean_data = CleanData
        self.join_info_ihm = JoinInfoIHM
        self.data = self.get_data.get_data()

    def __get_info_ihm(self) -> pd.DataFrame:
        """
        Realiza a leitura, limpeza e junção dos dados de informações e IHM.
        """

        # Realiza a leitura dos dados
        df_ihm, df_info, _ = self.data

        # Verifica se os dados foram lidos corretamente
        if df_ihm is None or df_info is None or df_info_production is None:
            return None

        # Limpa os dados
        clean_data = self.clean_data(df_ihm, df_info, df_info_production)
        df_ihm_cleaned, df_info_cleaned, _ = clean_data.clean_data()

        # Junta os dados
        join_info_ihm = self.join_info_ihm(df_ihm_cleaned, df_info_cleaned)
        df_joined = join_info_ihm.join_data()

        return df_joined

    def __identify_changes(self, df, column) -> pd.Series:
        return df[column].ne(df[column].shift())

    def __status_change(self, df):
        # Checa se houve mudança de status, maquina_id e turno
        columns_to_check = ["status", "maquina_id", "turno"]
        for column in columns_to_check:
            df[f"{column}_change"] = self.__identify_changes(df, column)

        # Coluna auxiliar que identifica se houve alguma mudança
        df["change"] = df[["status_change", "maquina_id_change", "turno_change"]].any(axis=1)

        return df

    def __fill_occ(self, df):
        # Preenche os valores nulos de paradas
        df["motivo"] = df.groupby("group")["motivo"].transform(lambda x: x.ffill().bfill())
        df["equipamento"] = df.groupby("group")["equipamento"].transform(
            lambda x: x.ffill().bfill()
        )
        df["problema"] = df.groupby("group")["problema"].transform(lambda x: x.ffill().bfill())
        df["causa"] = df.groupby("group")["causa"].transform(lambda x: x.ffill().bfill())
        df["os_numero"] = df.groupby("group")["os_numero"].transform(lambda x: x.ffill().bfill())
        df["operador_id"] = df.groupby("group")["operador_id"].transform(
            lambda x: x.ffill().bfill()
        )
        df["data_registro_ihm"] = df.groupby("group")["data_registro_ihm"].transform(
            lambda x: x.ffill().bfill()
        )
        df["hora_registro_ihm"] = df.groupby("group")["hora_registro_ihm"].transform(
            lambda x: x.ffill().bfill()
        )

        # Se os dado de uma coluna for '' ou ' ', substituir por NaN
        df = df.replace(r"^s*$", None, regex=True)
        # O ^ indica o início de uma string, o $ indica o fim de uma string, e s* zero ou mais espaços em branco

        return df

    def __group_and_calc_time(self, df):
        # Agrupa as mudanças
        df = (
            df.groupby(["group"])
            .agg(
                fabrica=("fabrica", "first"),
                linha=("linha", "first"),
                maquina_id=("maquina_id", "first"),
                turno=("turno", "first"),
                status=("status", "first"),
                data_registro=("data_registro", "first"),
                hora_registro=("hora_registro", "first"),
                motivo=("motivo", "first"),
                equipamento=("equipamento", "first"),
                problema=("problema", "first"),
                causa=("causa", "first"),
                os_numero=("os_numero", "first"),
                operador_id=("operador_id", "first"),
                data_registro_ihm=("data_registro_ihm", "first"),
                hora_registro_ihm=("hora_registro_ihm", "first"),
                data_hora=("data_hora", "first"),
                change=("change", "first"),
                maquina_id_change=("maquina_id_change", "first"),
                change_date=("change_date", "first"),
                motivo_change=("motivo_change", "first"),
            )
            .reset_index()
        )

        # Nova coluna com a data_hora_final do status/parada
        df["data_hora_final"] = (
            df.groupby("maquina_id")["data_hora"].shift(-1).where(~df["maquina_id_change"])
        )

        # Atualiza a hora final caso mude a máquina
        mask = df["maquina_id_change"]
        df["data_hora_final"] = np.where(
            mask,
            df["change_date"].shift(-1),
            df["data_hora_final"],
        )

        # Caso a data_hora_final seja nula, remove a linha
        df = df.dropna(subset=["data_hora_final"]).reset_index(drop=True)

        # Calcula o tempo de cada status
        df["tempo"] = (
            pd.to_datetime(df["data_hora_final"]) - pd.to_datetime(df["data_hora"])
        ).dt.total_seconds() / 60

        # Arredondar e converter para inteiro
        df["tempo"] = df["tempo"].round().astype(int)

        return df

    def get_info_ihm_adjusted(self) -> pd.DataFrame:
        """
        Realiza a leitura, limpeza e junção dos dados de informações e IHM.
        Ajusta os dados para o formato correto.
        """

        # Realiza a leitura, limpeza e junção dos dados
        df_joined = self.__get_info_ihm()

        if df_joined is None:
            return None

        # ========================= Identifica Onde Há Mudança De Status ========================= #

        df_joined = self.__status_change(df_joined)

        # ========================= Preenchendo Valores Nulos De Paradas ========================= #

        # Cria um grupo para cada mudança de status
        df_joined["group"] = df_joined["change"].cumsum()

        # Preenche os valores nulos de paradas
        df_joined = self.__fill_occ(df_joined)

        # Coluna auxiliar para identificar mudança na coluna motivo, se não for nula
        df_joined["motivo_change"] = df_joined["motivo"].ne(df_joined["motivo"].shift())
        df_joined["motivo_change"] = df_joined["motivo_change"] & df_joined["motivo"].notnull()

        # Atualiza o change
        df_joined["change"] = df_joined["change"] | df_joined["motivo_change"]

        # Refaz o grupo para considerar a mudança na coluna motivo
        df_joined["group"] = df_joined["change"].cumsum()

        # Coluna auxiliar para unir data e hora
        df_joined["data_hora"] = pd.to_datetime(
            df_joined["data_registro"].astype(str) + " " + df_joined["hora_registro"].astype(str)
        )

        # Coluna auxiliar para identificar a data/hora da mudança
        df_joined["change_date"] = (
            df_joined.groupby("maquina_id")["data_hora"].shift(0).where(df_joined["change"])
        )

        # ============================ Calcula O Tempo Parada Ou Rodando ========================== #

        # Calcula os tempos
        df_joined = self.__group_and_calc_time(df_joined)

        # Ajustar status para levar em conta testes
        mask = (df_joined["status"] == "true") & (df_joined["tempo"] < 10)
        df_joined["status"] = np.where(mask, "false", df_joined["status"])

        # Ajuste em change para refletir alterações
        df_joined = self.__status_change(df_joined)
        df_joined["change"] = df_joined["change"] | df_joined["motivo_change"]

        # Refaz o group
        df_joined["group"] = df_joined["change"].cumsum()

        # Recalcula os tempos
        df_joined = self.__group_and_calc_time(df_joined)

        # Remove colunas auxiliares
        df_joined = df_joined.drop(
            columns=[
                "maquina_id_change",
                "change",
                "maquina_id_change",
                "change_date",
                "motivo_change",
                "group",
            ]
        )

        return df_joined

    def get_time_working(self, df: pd.DataFrame) -> pd.Series:
        """
        Calcula o tempo de trabalho de cada máquina.
        """

        # Filtra apenas as máquinas que estão rodando
        df = df[df["status"] == "rodando"]

        # Agrupa por máquina e turno
        df = (
            df.groupby(["maquina_id", "turno", "data_registro", "status"], observed=False)["tempo"]
            .sum()
            .reset_index()
        )

        # Renomear coluna
        df = df.rename(columns={"status": "motivo"})

        # Capitaliza o motivo
        df["motivo"] = df["motivo"].str.capitalize()

        return df

    def get_maq_stopped(self, df: pd.DataFrame) -> pd.Series:

        # Filtra apenas as máquinas que estão paradas
        df = df[df["status"] == "parada"]

        # Reinicia o índice
        df = df.reset_index(drop=True)

        return df


service_info_ihm = ServiceInfoIHM()

## Saídas do serviço

In [66]:
df_info_ihm = service_info_ihm.get_info_ihm_adjusted()
df_info_ihm

C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:50: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["motivo"] = df.groupby("group")["motivo"].transform(lambda x: x.ffill().bfill())
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:52: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lambda x: x.ffill().bfill()
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:54: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["problema"] = df.groupby("group")["problema"].transform(lambda x: x.ffill().bfill())
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:55: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["causa"] = df.groupby("group")["causa"].transform(lambda x: x.ffill().bfill())
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:56: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["os_numero"] = df.groupby("group")["os_numero"].transform(lambda x: x.ffill().bfill())
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:58: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lambda x: x.ffill().bfill()
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:64: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  lambda x: x.ffill().bfill()
C:\Users\bruno.thomaz\AppData\Local\Temp\ipykernel_28972\2940113256.py:68: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(r"^s*$", None, regex=True)

,fabrica,linha,maquina_id,turno,status,data_registro,hora_registro,motivo,equipamento,problema,causa,os_numero,operador_id,data_registro_ihm,hora_registro_ihm,data_hora,data_hora_final,tempo
0,1,1,TMF005,NOT,parada,2024-04-01,00:02:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:02:18,2024-04-01 00:12:18,10
1,1,1,TMF005,NOT,rodando,2024-04-01,00:12:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:12:18,2024-04-01 00:22:18,10
2,1,1,TMF005,NOT,parada,2024-04-01,00:22:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:22:18,2024-04-01 00:30:18,8
3,1,1,TMF005,NOT,rodando,2024-04-01,00:30:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:30:18,2024-04-01 00:32:18,2
4,1,1,TMF005,NOT,parada,2024-04-01,00:32:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:32:18,2024-04-01 00:38:18,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11912,2,14,TMF009,MAT,rodando,2024-04-26,10:12:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 10:12:52,2024-04-26 10:14:52,2
11913,2,14,TMF009,MAT,parada,2024-04-26,10:14:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 10:14:52,2024-04-26 10:16:52,2
11914,2,14,TMF009,MAT,rodando,2024-04-26,10:16:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 10:16:52,2024-04-26 10:18:52,2
11915,2,14,TMF009,MAT,parada,2024-04-26,10:18:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 10:18:52,2024-04-26 16:00:53,342
11916,2,14,TMF009,VES,parada,2024-04-26,16:00:53,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 16:00:53,2024-04-27 00:00:55,480

In [67]:
df_time_working = service_info_ihm.get_time_working(df_info_ihm.copy())
df_time_working

    maquina_id turno data_registro   motivo  tempo
0       TMF001   MAT    2024-04-01  Rodando    444
1       TMF001   MAT    2024-04-02  Rodando    422
2       TMF001   MAT    2024-04-03  Rodando    312
3       TMF001   MAT    2024-04-04  Rodando    424
4       TMF001   MAT    2024-04-05  Rodando    416
..         ...   ...           ...      ...    ...
728     TMF015   VES    2024-04-25  Rodando    299
729     TMF015   VES    2024-04-26  Rodando    466
730     TMF015   VES    2024-04-27  Rodando    456
731     TMF015   VES    2024-04-28  Rodando    446
732     TMF015   VES    2024-04-29  Rodando      6

[733 rows x 5 columns]

In [68]:
df_maq_stopped = service_info_ihm.get_maq_stopped(df_info_ihm.copy())
df_maq_stopped

,fabrica,linha,maquina_id,turno,status,data_registro,hora_registro,motivo,equipamento,problema,causa,os_numero,operador_id,data_registro_ihm,hora_registro_ihm,data_hora,data_hora_final,tempo
0,1,1,TMF005,NOT,parada,2024-04-01,00:02:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:02:18,2024-04-01 00:12:18,10
1,1,1,TMF005,NOT,parada,2024-04-01,00:22:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:22:18,2024-04-01 00:30:18,8
2,1,1,TMF005,NOT,parada,2024-04-01,00:32:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:32:18,2024-04-01 00:38:18,6
3,1,1,TMF005,NOT,parada,2024-04-01,00:56:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 00:56:18,2024-04-01 00:58:18,2
4,1,1,TMF005,NOT,parada,2024-04-01,01:02:18,None,NaN,None,None,NaN,None,NaT,None,2024-04-01 01:02:18,2024-04-01 01:04:18,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5891,2,14,TMF009,NOT,parada,2024-04-26,00:00:50,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 00:00:50,2024-04-26 08:00:52,480
5892,2,14,TMF009,MAT,parada,2024-04-26,08:00:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 08:00:52,2024-04-26 10:12:52,132
5893,2,14,TMF009,MAT,parada,2024-04-26,10:14:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 10:14:52,2024-04-26 10:16:52,2
5894,2,14,TMF009,MAT,parada,2024-04-26,10:18:52,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 10:18:52,2024-04-26 16:00:53,342
5895,2,14,TMF009,VES,parada,2024-04-26,16:00:53,None,NaN,None,None,NaN,None,NaT,None,2024-04-26 16:00:53,2024-04-27 00:00:55,480

# Dados de Saída

In [69]:
print(f"Maquina Parada --> Linhas x Colunas: {df_maq_stopped.shape}")
print("---------------------------------------")
print(
    f"Maquina Parada --> Memória Ocupada: {df_maq_stopped.memory_usage().sum() / 1024 ** 2:.2f} MB"
)
print("---------------------------------------")
print(f"Maquina Parada --> Tipos:\n{df_maq_stopped.dtypes}")

Maquina Parada --> Linhas x Colunas: (5896, 18)
---------------------------------------
Maquina Parada --> Memória Ocupada: 0.76 MB
---------------------------------------
Maquina Parada --> Tipos:
fabrica                      object
linha                         int32
maquina_id                   object
turno                        object
status                       object
data_registro        datetime64[ns]
hora_registro                object
motivo                       object
equipamento                 float64
problema                     object
causa                        object
os_numero                   float64
operador_id                  object
data_registro_ihm    datetime64[ns]
hora_registro_ihm            object
data_hora            datetime64[ns]
data_hora_final      datetime64[ns]
tempo                         int32
dtype: object

In [70]:
print(f"Tempo de Trabalho --> Linhas x Colunas: {df_time_working.shape}")
print("---------------------------------------")
print(
    f"Tempo de Trabalho --> Memória Ocupada: {df_time_working.memory_usage().sum() / 1024 ** 2:.2f} MB"
)
print("---------------------------------------")
print(f"Tempo de Trabalho --> Tipos:\n{df_time_working.dtypes}")

Tempo de Trabalho --> Linhas x Colunas: (733, 5)
---------------------------------------
Tempo de Trabalho --> Memória Ocupada: 0.03 MB
---------------------------------------
Tempo de Trabalho --> Tipos:
maquina_id               object
turno                    object
data_registro    datetime64[ns]
motivo                   object
tempo                     int32
dtype: object

In [71]:
print(f"Informações --> Linhas x Colunas: {df_info_ihm.shape}")
print("---------------------------------------")
print(f"Informações --> Memória Ocupada: {df_info_ihm.memory_usage().sum() / 1024 ** 2:.2f} MB")
print("---------------------------------------")
print(f"Informações --> Tipos:\n{df_info_ihm.dtypes}")

Informações --> Linhas x Colunas: (11917, 18)
---------------------------------------
Informações --> Memória Ocupada: 1.55 MB
---------------------------------------
Informações --> Tipos:
fabrica                      object
linha                         int32
maquina_id                   object
turno                        object
status                       object
data_registro        datetime64[ns]
hora_registro                object
motivo                       object
equipamento                 float64
problema                     object
causa                        object
os_numero                   float64
operador_id                  object
data_registro_ihm    datetime64[ns]
hora_registro_ihm            object
data_hora            datetime64[ns]
data_hora_final      datetime64[ns]
tempo                         int32
dtype: object

In [72]:
print(f"Produção --> Linhas x Colunas: {df_info_production_cleaned.shape}")
print("---------------------------------------")
print(
    f"Produção --> Memória Ocupada: {df_info_production_cleaned.memory_usage().sum() / 1024 ** 2:.2f} MB"
)
print("---------------------------------------")
print(f"Produção --> Tipos:\n{df_info_production_cleaned.dtypes}")

Produção --> Linhas x Colunas: (1122, 8)
---------------------------------------
Produção --> Memória Ocupada: 0.06 MB
---------------------------------------
Produção --> Tipos:
fabrica                    object
linha                       int32
maquina_id                 object
turno                      object
total_ciclos              float64
total_produzido           float64
data_registro      datetime64[ns]
hora_registro              object
dtype: object